
#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
library/
temp/
local/
build/
profiles/
native/

#//////////////////////////
# NPM
#//////////////////////////
node_modules/

#//////////////////////////
# IDE
#//////////////////////////
.vscode/
.idea/

#//////////////////////////
# 系统文件
#//////////////////////////
.DS_Store
Thumbs.db

#//////////////////////////
# 日志文件
#//////////////////////////
*.log
logs/

#//////////////////////////
# 临时文件
#//////////////////////////
*.tmp
*.temp